.edit_error_class {
	display: block;
	color: red;
}

.error-message {
	color: red;
	font-weight: bold;
}

.sidebar ul {
	margin: 0;
	padding: 0;
}

.sidebar ul li {
	list-style: none;
}

.sidebar ul li a {
	display: block;
	float: left;
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 5px;
}

.sidebar ul li a span {
	min-width: 100px;
	max-width: 100px;
	text-align: center;
}

input {
	width: 95%;
}

textarea {
  width: 93%;
  height: 5em;
}

a {
	font-size: 1.1em;
	font-weight: bold;
}

a .ui-button {
	font-size: 1.1em;
  font-weight: bold;
}

.form-label {
	font-size:larger;
	font-weight: bold;
	font-variant: small-caps;
}

.form-title {
	font-size: xx-large;
	font-weight: bolder;
	text-decoration:underline;
	font-variant: small-caps;
}

.form-title-no-ul {
	font-size: xx-large;
	font-weight: bolder;
	font-variant: small-caps;
}

.form-subtitle {
	font-size: x-large;
	font-weight: bolder;
	text-decoration:underline;
	font-variant: small-caps;
}

.form-subtitle-no-ul {
	font-size: x-large;
	font-weight: bolder;
	font-variant: small-caps;
}

.search-label {
	text-align: left;
}

.form-input {	
	/* Empty for now */
}

.form-content {
	/* Empty for now */
}

tr {
	vertical-align: text-top;
}

td {
	vertical-align: text-top;
}