.edit_error_class {
	display: block;
	color: red;
}

.sidebar ul {
	margin: 0;
	padding: 0;
}

.sidebar ul li {
	list-style: none;
}

.sidebar ul li a {
	display: block;
	float: left;
	font-size: medium;
	margin-bottom: 5px;
}

.sidebar ul li a span {
	min-width: 100px;
	text-align: center;
}